#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2px;
  text-align: center;
}

.logo {
  height: 6px;
  padding: 1.5px;
  will-change: filter;
  transition: filter 300px;
}
.logo:hover {
  filter: drop-shadow(0 0 2px #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2 #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2px;
}
.read-the-docs {
  color: #888;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px; 
  margin: 10px auto;
  padding: 8px;
  border-bottom: 1px solid #444;
}
.movie-title {
  flex-grow: 1;     
  text-align: left; 
}
.controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.controls > div {
  display: flex;
  gap: 5px;
}
.delete-btn {
  background: none;
  border: none;
  color: #ff4d4d;
  cursor: pointer;
  font-weight: bold;
}